@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 1168px;
    margin: 18px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links a {
    color: #001355;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-right: 24px;
}

.links {
    margin-left: 48px;
}

.hero {
    width: 100%;
    height: 500px;
    background: url('./img/banner.png') no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.24px;
    font-family: "proxima-nova";
    justify-content:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero span {
    text-align: center;
}

.features {
    width: 1168px;
    margin: 0 auto;
    display: flex;
    margin-top: -32px;
}

.features .feature {
    text-align: center;
    width: 376px;
    margin-right: 20px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 24px;
    color:#9B9BAC;
    padding: 46px 32px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    background-color: white;

}

.features hr {
    width: 80px;
    border-style: solid;
    border-color: blue;
    margin: 0 auto 14 auto;
}
.features h3
{
    font-family: "proxima-nova";
    font-size: 20px;
    color: #001355;
    margin-top: 0;
    margin-bottom: 14px;
    line-height: 28px;
}

.search {
    background: #ffffff;
    padding: 8px;
    border-radius: 10px;
}

input[type="submit"] {
    background: #3964F9;
    border: none;
    color: #ffffff;
    padding: 12px 65px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background: blue;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    border: none;
    width: 250px;
    height: 24px;
    padding-left: 40px;
}

/*
    border - рамка

    border-width - Размер рамки
    border-style - стиль рамки (solid - сплошная рамка, dotted - рамка из точек, dashed - рамка из линий)
    border-color - цвет

    border-width: 1px;
    border-style: solid;
    border-color: red;
    z-index - слои 
*/