.stock__sticker {
    background: #FFD401;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: black;
    border-radius: 3px;
    padding: 6px 10px;
    position: absolute;
    top: 10px;
    left: 11px;
}
.blog__card {
    position: relative;
}
.counter {
    background-color: #3964F9;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 210px;
    left: 10px;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
}
.counter img {
    margin-right: 5px;
}