header {
    width: 1168px;
    margin: 18px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.links a {
    color: #001355;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-right: 24px;
}
.links a:last-child {
    margin-right: 0;
}
.profile__logo {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    color: #001355;
}
.profile__logo a {
    margin-right: 8px;
    color: #001355;
    text-decoration: none;
}
.profile__logo img {
    width: 24px;
    height: 24px;
}