@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    font-size: 16px;
    font-family: "proxima-nova";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    margin: 0;
    padding: 0;
}
header {
    width: 1168px;
    margin: 18px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links a {
    color: #001355;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-right: 24px;
}
.links {
    margin-left: 48px;
}
.hero {
    width: 100%;
    height: 500px;
    background: url('../img/banner.png') no-repeat center center;
    background-size: cover;
    color: white;
    font-weight: 700;
    line-height: 48.24px;
    justify-content:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero span {
    text-align: center;
    font-size: 36px;
}
.features {
    width: 1168px;
    margin: 0 auto;
    display: flex;
    margin-top: -32px;
}
.features .feature {
    text-align: center;
    width: 376px;
    margin-right: 20px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 24px;
    color:#9B9BAC;
    padding: 46px 32px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
}
.features .feature:nth-child(3) {
    z-index: 1;
}
.features .feature:nth-child(2) {
    z-index: 2;
}
.features .feature:nth-child(1) {
    z-index: 3;
}
.features hr {
    width: 80px;
    border-style: solid;
    border-color: blue;
    margin: 0 auto 14px auto;
}
.features h3 {
    font-size: 20px;
    color: #001355;
    margin-top: 0;
    margin-bottom: 14px;
    line-height: 28px;
}
.search {
    background: #ffffff;
    padding: 8px;
    border-radius: 10px;
    margin-top: 24px;
}
.pattern {
    background-image: url(../img/pattern.svg);
    background-size: 68px;
    padding: 80px 0;
}
.main-link {
    text-decoration: none;
    position: relative;
}
.main-link::after {
    content: '';
    bottom: -2px;
    left: 0;
    position: absolute;
    width: 0;
    transition-duration: 0.5s;
    border-top: 3px solid red;
}
.main-link:hover::after {
    width: 100%;
}
.main-link::before {
    content: '';
    bottom: -2px;
    left: 0;
    position: absolute;
    width: 100%;
    border-top: 3px solid gainsboro;
}
.main-links {
    padding: 50px 100px;
}
.reviews {
    background-color: #F8F8FB;
    padding: 56px 0 80px 0;
    margin-top: 100px;
}
.reviews__heading {
    text-align: center;
    color: #001355;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 32px;

}
.reviews__container {
    max-width: 1168px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.reviews__name {
    color: #001355;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}
.reviews__head {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.reviews__location {
    display: inline-flex;
    align-items: center;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #9B9BAC;
}
.reviews__review {
    padding: 24px 28px 24px 32px;
    background-color: #ffffff;
    width: 316px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    position: relative;
}
.reviews__name-location {
    margin-left:  8px;
}
.reviews__location::before {
    content: '';
    width: 19px;
    height: 19px;
    background-image: url('../img/Earth.png');
    background-repeat: no-repeat;
    margin-right: 4px;
}
.reviews__text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #9B9BAC;
    margin-bottom: 36px;
}
.couteiner__stars {
    position: absolute;
    bottom: 24px;
    left: 32px;
}
.container__subject {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 0 auto;
    justify-content: space-between;
}
.subjects {
    padding: 50px 0;
}
.wrapper {
    width: 1168px;
    margin: 0 auto;
}
.subjects .example {
    position: relative;
    height: 350px;
    width: 277px;
    background-image: url('../img/english.png');
    overflow: hidden;
    border-radius: 12px;
}
.subjects .example .overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 100, 249, 0.8);
    top: calc(100% - 48px);
    right: 0;
    transition-duration: 0.4s;
    color: white;
    text-align: center;
    
}
.example:hover .overflow {
    top: 0;
}
.example:hover .subjects__container {
    top: 50%;
    transform: translateY(-50%);
}
.subjects__container {
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition-duration: 0.4s;
}
.subjects__container .text {
    padding: 0 20px;
}
.subjects .example .overflow .title {
    padding: 14px 0;
    font-weight: 700;
    transition: all 0.4s;
}
.button {
    color: rgba(57, 100, 249, 1);
    text-decoration: none;
    background-color: white;
    padding: 12px 30px;
    border-radius: 4px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.4s;
}
.links__button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.text {
    line-height: 24px;
    opacity: 0;
    transition: opacity 0.4s;
}
.example:hover .button {
    opacity: 1;
}
.example:hover .text {
    opacity: 1;
}
.statistics {
    background-image: url('../img/pattern.svg');
    padding: 24px 0;
    background-size: 68px;
}
.statistics .wrapper {
    display: flex;
}
.statistics__container {
    border-left: 2px solid #ffffff;  
    height: 165px;  
    width: 354px;
    padding-left: 20px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.statistics__container:first-child {
    border-left: none;
    padding-left: 0;
}
.statistics__counter {
    font-size: 80px;
    line-height: 97px;
}
.statistics__about {
    font-size: 16px;
    line-height: 20px;
}
.reviews__stars {
    background-image: url(../img/star.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}
.couteiner__stars {
    display: flex;
}

.subjects .wrapper {
    display: flex;
    justify-content: space-between;
}
.example:nth-child(2) {
    background-image: url('../img/maths.png');
}
.example:nth-child(3) {
    background-image: url('../img/IT.png');
}
.example:nth-child(4) {
    background-image: url('../img/chemistry.png');
}

@media screen and (max-width: 768px) {
    .links {
        display: none;
    }
    .wrapper {
        width: 100%;
    }
    header {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .features {
        flex-direction: column;
        margin: 0;
        align-items: center;
        margin-top: 40px;
        width: 100%;
    }
    .features .feature {
        margin-right: 0;
        width: 60%;
    }
    .subjects .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .subjects .example {
        margin-top: 30px;
    }
    .reviews__container {
        flex-direction: column;
        align-items: center;
        
    }
    .reviews__review {
        margin-top: 30px;
    }
    .statistics .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .statistics__container {
        border-top: 2px solid #ffffff;
        border-left: none;
        text-align: center;
        padding-left: 0;
    }
    .statistics__container:first-child {
        border-top: none;
    }
}

/*
    border - рамка
    border-width - Размер рамки
    border-style - стиль рамки (solid - сплошная рамка, dotted - рамка из точек, dashed - рамка из линий)
    border-color - цвет

    border-width: 1px;
    border-style: solid;
    border-color: red;
    z-index - слои 
*/